@font-face {
  font-family: "Arial";
  src: url("/arial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header__inner {
  background-image: url("../../assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  margin-bottom: 54px;
}

.header__logo {
  max-width: 186px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
}

.header__logo-link {
  display: block;
  text-decoration: none;
  color: white;
}

.header__logo span {
  display: block;
  font-family: "Georgia", serif;
  color: #F1CDB3;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.header__content {
  padding-top: 163px;
  padding-bottom: 243px;
  background-image: url("../../assets/images/puppy.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.header__content-title {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 310px;
  margin-bottom: 42px;
}

.header__content-text {
  font-family: 'Arial';
  font-style: normal;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  max-width: 460px;
  margin-bottom: 42px;
}

.header__content-link {
  display: block;
  max-width: 208px;
  text-decoration: none;
  font-family: "Georgia", serif;
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  background-color: #F1CDB3;
}

.header__content-link:hover {
  background-color: #FDDCC4;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu__list-item + .menu__list-item {
  padding-left: 35px;
}

.menu__list-link {
  text-decoration: none;
  line-height: 160%;
  color: #CDCDCD;
  -webkit-transition: all .1s;
  transition: all .1s;
  padding-bottom: 5px;
}

.menu__list-link--underline {
  border-bottom: 3px solid #F1CDB3;
  color: #fff;
}

.menu__list-link:hover {
  color: #fff;
}

.about {
  padding: 86px 0 100px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  margin: 0 120px 0 175px;
}

.about__info {
  max-width: 430px;
}

.about__info-title {
  margin-bottom: 25px;
  margin-top: 14px;
  max-width: 370px;
}

.about__info-text {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.about__info-text + .about__info-text {
  margin-top: 25px;
}

.friends {
  background-color: #F6F6F6;
  padding: 80px 0 100px;
}

.friends__title {
  text-align: center;
  max-width: 400px;
  margin: 0 auto 60px;
}

.friends__items {
  position: relative;
}

.friends__items-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.friends__items-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  cursor: pointer;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: inherit;
}

.friends__items-arrow:hover {
  background-color: #FDDCC4;
}

.friends__items-arrow--right {
  right: 0;
}

.friends__content-item {
  padding-bottom: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}

.friends__content-item:hover {
  background-color: #FFFFFF;
}

.friends__content-item:hover .friends__item-link {
  background-color: #FDDCC4;
}

.friends__item-img {
  margin-bottom: 30px;
}

.friends__item-name {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 30px;
}

.friends__item-link {
  display: block;
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 13px 43px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  max-width: 192px;
  margin: 0 auto 0;
}

.friends__item-link:hover {
  background-color: #FDDCC4;
}

.friends__btn-link {
  display: block;
  text-decoration: none;
  color: #292929;
  font-family: "Georgia", serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  background-color: #F1CDB3;
  border-radius: 100px;
  margin: 60px auto 0;
  text-decoration: none;
  text-align: center;
  max-width: 262px;
}

.friends__btn-link:hover {
  background-color: #FDDCC4;
}

.help {
  padding: 80px 0 100px;
}

.help__title {
  max-width: 310px;
  text-align: center;
  margin: 0 auto 60px;
}

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.help__content-item {
  margin-right: 120px;
}

.help__content-item:nth-child(5) {
  margin-right: 0;
}

.help__content-item:nth-child(9) {
  margin-right: 0;
}

.help__content-item:nth-child(-n+5) {
  margin-bottom: 66px;
}

.help__content-img {
  padding-bottom: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.help__content-name {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.donations {
  padding: 80px 0 100px;
  background: #F6F6F6;
  text-align: center;
}

.donations__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 915px;
}

.donations__img {
  padding: 11px 30px 10px;
}

.donations__info {
  max-width: 380px;
}

.donations__title {
  max-width: 300px;
  margin: 0 0 20px 0;
  text-align: left;
}

.donations__info-name {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: left;
  margin-bottom: 20px;
}

.donations__card-link {
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  text-decoration: none;
  margin-bottom: 20px;
}

.donations__card-number {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-left: 15px;
}

.donations__info-text {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  text-align: left;
}

.footer {
  padding-top: 40px;
  background-image: url("../../assets/images/footer-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  margin-bottom: 60px;
}

.footer__item-title {
  color: #FFFFFF;
  margin-bottom: 40px;
}

.footer__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer__item-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-left: 20px;
}

.footer__item:first-child {
  width: 279px;
}

.footer__item:nth-child(2) {
  width: 302px;
}

.footer__item:last-child {
  padding-bottom: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.margin40 {
  margin-bottom: 40px;
}

.margin32 {
  margin-bottom: 32px;
}
/*# sourceMappingURL=style.css.map */