@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.burger__btn {
  display: none;
}

.header__inner {
  background-image: url("../../assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  margin-bottom: 60px;
}

.header__logo {
  max-width: 186px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  z-index: 5;
}

.header__logo-repeat {
  display: none;
}

.header__logo-link {
  display: block;
  text-decoration: none;
  color: white;
}

.header__logo span {
  display: block;
  font-family: "Georgia", serif;
  color: #F1CDB3;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.header__content {
  padding-top: 163px;
  padding-bottom: 243px;
  background-image: url("../../assets/images/puppy.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.header__content-title {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 310px;
  margin-bottom: 42px;
}

.header__content-text {
  font-family: 'Arial';
  font-style: normal;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  max-width: 460px;
  margin-bottom: 42px;
}

.header__content-link {
  display: block;
  max-width: 208px;
  text-decoration: none;
  font-family: "Georgia", serif;
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  background-color: #F1CDB3;
}

.header__content-link:hover {
  background-color: #FDDCC4;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu__list-item + .menu__list-item {
  padding-left: 35px;
}

.menu__list-link {
  text-decoration: none;
  line-height: 160%;
  color: #CDCDCD;
  -webkit-transition: all .1s;
  transition: all .1s;
  padding-bottom: 5px;
}

.menu__list-link--underline {
  border-bottom: 3px solid #F1CDB3;
  color: #fff;
}

.menu__list-link:hover {
  color: #fff;
}

.about {
  padding: 80px 0 100px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  margin: 0 120px 0 175px;
}

.about__info {
  max-width: 430px;
}

.about__info-title {
  margin-bottom: 25px;
  margin-top: 14px;
  max-width: 370px;
}

.about__info-text {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.about__info-text + .about__info-text {
  margin-top: 25px;
}

.friends {
  background-color: #F6F6F6;
  padding: 80px 0 100px;
}

.friends__title {
  text-align: center;
  max-width: 400px;
  margin: 0 auto 60px;
}

.friends__items {
  position: relative;
}

.friends__items-inner {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
}

.friends__items-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 990px;
  width: 100%;
}

.friends__items-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: -990px;
}

.friends__items-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  cursor: pointer;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: inherit;
}

.friends__items-arrow:hover {
  background-color: #FDDCC4;
}

.friends__items-arrow--right {
  right: 0;
}

.friends__content-item {
  width: 270px;
  padding-bottom: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}

.friends__content-item:not(:last-child) {
  margin-right: 90px;
}

.friends__content-item:hover {
  background-color: #FFFFFF;
}

.friends__content-item:hover .friends__item-link {
  background-color: #FDDCC4;
}

.friends__item-img {
  margin-bottom: 30px;
}

.friends__item-name {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 24px;
  width: 270px;
}

.friends__item-link {
  display: block;
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 13px 43px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  max-width: 189px;
  margin: 0 auto 0;
}

.friends__item-link:hover {
  background-color: #FDDCC4;
}

.friends__btn-link {
  display: block;
  text-decoration: none;
  color: #292929;
  font-family: "Georgia", serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  background-color: #F1CDB3;
  border-radius: 100px;
  margin: 60px auto 0;
  text-decoration: none;
  text-align: center;
  max-width: 262px;
}

.friends__btn-link:hover {
  background-color: #FDDCC4;
}

.help {
  padding: 80px 0 100px;
}

.help__title {
  max-width: 310px;
  text-align: center;
  margin: 0 auto 60px;
}

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.help__content-item {
  margin-right: 120px;
}

.help__content-item:nth-child(5) {
  margin-right: 0;
}

.help__content-item:nth-child(9) {
  margin-right: 0;
}

.help__content-item:nth-child(-n+5) {
  margin-bottom: 35px;
}

.help__content-img {
  padding-bottom: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.help__content-name {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.donations {
  padding: 80px 0 100px;
  background: #F6F6F6;
  text-align: center;
}

.donations__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 915px;
}

.donations__img {
  padding: 11px 30px 10px 143px;
}

.donations__info {
  min-width: 380px;
}

.donations__title {
  max-width: 300px;
  margin: 0 0 20px 0;
  text-align: left;
}

.donations__info-name {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: left;
  margin-bottom: 20px;
}

.donations__card-link {
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  text-decoration: none;
  margin-bottom: 20px;
}

.donations__card-number {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-left: 15px;
}

.donations__info-text {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  text-align: left;
}

.footer {
  padding-top: 40px;
  background-image: url("../../assets/images/footer-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url("../../assets/images/footer-puppy.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.footer__item {
  margin-bottom: 60px;
}

.footer__item-title {
  color: #FFFFFF;
  margin: 16px 0 40px;
}

.footer__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer__item-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-left: 20px;
}

.footer__item:first-child {
  width: 279px;
  margin-right: 160px;
}

.footer__item:nth-child(2) {
  width: 302px;
}

.footer__item:last-child {
  padding-bottom: 0;
}

.margin40 {
  margin-bottom: 40px;
}

.margin32 {
  margin-bottom: 32px;
}

.noscroll {
  overflow: hidden;
}

.modal__overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__overlay--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__window {
  cursor: auto;
  width: 900px;
  height: 500px;
  background-color: #FAFAFA;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.modal__window-close-btn {
  content: '';
  background-image: url("../../assets/images/cross.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -52px;
  right: -52px;
  width: 52px;
  height: 52px;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
}

.modal__window-close-btn:hover {
  background-color: #F1CDB3;
}

.modal__window-close-btn-color {
  background-color: transparent;
}

.modal__window--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.modal__img {
  width: 500px;
  height: 500px;
  display: block;
}

.modal__img img {
  width: 100%;
  height: 100%;
}

.modal__content {
  width: 350px;
  margin: 50px 19px 88px 29px;
  font-family: 'Georgia';
  color: #000000;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
}

.modal__content-title {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  margin-bottom: 10px;
}

.modal__content-subtitle {
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 40px;
}

.modal__content-descr {
  font-size: 15px;
  line-height: 110%;
  margin-bottom: 40px;
}

.modal__content-list {
  list-style-type: none;
  padding-left: 10px;
}

.modal__content-list-item {
  font-size: 15px;
  line-height: 110%;
  position: relative;
  margin-bottom: 11px;
}

.modal__content-list-item::before {
  content: " ";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #F1CDB3;
  border-radius: 50%;
  left: -10px;
  top: 40%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.modal__content-list-item span {
  font-weight: 700;
}

@-webkit-keyframes move-left {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-left {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}

@keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}

.move_left {
  -webkit-animation-name: move-left;
          animation-name: move-left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.move_right {
  -webkit-animation-name: move-right;
          animation-name: move-right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
  .header__inner {
    background-image: url("../../assets/images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .header__top {
    padding-top: 30px;
  }
  .header__content {
    padding-top: 0px;
    min-height: 1015px;
    padding-bottom: 0px;
    background-position: right bottom;
    background-size: 569px 593px;
  }
  .header__content-inner {
    max-width: 460px;
    margin: 0 auto;
  }
  .header__content-link {
    margin: 0 auto;
  }
  .header__logo-repeat {
    display: none;
  }
  .menu__list-item + .menu__list-item {
    padding-left: 38px;
  }
  .about {
    padding: 80px 0 100px;
  }
  .about__info-title {
    margin-top: 0;
  }
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__img {
    margin: 0 auto;
  }
  .about__info {
    margin: 0 auto;
    padding-bottom: 80px;
  }
  .friends__items {
    position: relative;
  }
  .friends__items-inner {
    width: 580px;
  }
  .friends__items-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
    left: -580px;
  }
  .friends__items-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 580px;
    width: 100%;
  }
  .friends__content-item:last-child {
    display: none;
  }
  .friends__content-item:not(:last-child) {
    margin-right: 40px;
  }
  .friends__item-img {
    margin-bottom: 23px;
  }
  .friends__item-name {
    margin-bottom: 30px;
  }
  .help {
    padding: 80px 0 100px;
  }
  .help__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 55px;
  }
  .help__content-img {
    padding-bottom: 21px;
  }
  .help__content-item {
    margin-right: 0px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .help__content-item:nth-child(-n+5) {
    margin-bottom: 0px;
  }
  .donations {
    padding: 80px 0 100px;
    background: #F6F6F6;
    text-align: center;
  }
  .donations__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 505px;
    margin: 0 auto;
  }
  .donations__img {
    padding: 0;
  }
  .donations__info {
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer__inner {
    min-height: 612px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-position: center bottom;
    margin: 0 34px;
    background-size: 300px 310px;
  }
  .footer__item-title {
    margin-top: 0;
  }
  .footer__item:first-child {
    width: 280px;
    margin-right: 0;
  }
  .footer__item:last-child {
    padding-bottom: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .modal__window {
    width: 630px;
    height: 350px;
  }
  .modal__img {
    width: 350px;
    height: 350px;
  }
  .modal__content {
    width: 260px;
    margin: 10px 9px 37px 11px;
  }
  .modal__content-subtitle {
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 20px;
  }
  .modal__content-descr {
    font-size: 13px;
    line-height: 110%;
    margin-bottom: 20px;
  }
  .modal__content-list-item {
    margin-bottom: 5px;
  }
  @-webkit-keyframes move-left {
    from {
      left: -580px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes move-left {
    from {
      left: -580px;
    }
    to {
      left: 0px;
    }
  }
  @-webkit-keyframes move-right {
    from {
      left: -580px;
    }
    to {
      left: -1160px;
    }
  }
  @keyframes move-right {
    from {
      left: -580px;
    }
    to {
      left: -1160px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
  .burger__btn {
    z-index: 5;
    margin-right: 43px;
    margin-bottom: -10px;
    cursor: pointer;
    display: block;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
  }
  .burger__btn--active {
    -webkit-transform: rotate(90deg) translate(-4px, 5px);
            transform: rotate(90deg) translate(-4px, 5px);
  }
  .burger__btn-line {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #F1CDB3;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(41, 41, 41, 0.6);
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    overflow-y: scroll;
  }
  .menu--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  .menu-wrapper {
    background-color: #292929;
    right: -500px;
    width: 320px;
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    -webkit-transition: right ease 1s;
    transition: right ease 1s;
  }
  .menu-wrapper--active {
    right: 0px;
  }
  .menu__list {
    width: 320px;
    height: 327px;
    margin-top: 110px;
    background-color: #292929;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
    position: absolute;
    right: -500px;
    -webkit-transition: right ease 1s;
    transition: right ease 1s;
    z-index: 5;
  }
  .menu__list--active {
    right: 0px;
  }
  .menu__list-item {
    font-size: 32px;
    margin-bottom: 41px;
  }
  .menu__list-item + .menu__list-item {
    padding-left: 0px;
  }
  .header__logo-repeat {
    display: block;
    position: absolute;
    top: 30px;
    left: 10px;
  }
  .header__logo-origin {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .header__logo-origin--active {
    opacity: 0;
  }
  .header__content {
    min-height: 674px;
    background-size: 260px 272px;
  }
  .header__content-inner {
    width: 300px;
    text-align: center;
  }
  .header__content-title {
    font-size: 25px;
    width: 228px;
    margin: 0 auto 43px;
    letter-spacing: 0.06em;
  }
  .title {
    font-size: 25px;
  }
  .about {
    padding: 42px 0 42px;
  }
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__img {
    margin: 0 auto;
    width: 260px;
    height: 100%;
  }
  .about__info {
    padding-bottom: 42px;
  }
  .about__info-text {
    margin: 0 15px;
    text-align: justify;
  }
  .about__info-title {
    text-align: center;
    width: 226px;
    margin: 0 auto 20px;
  }
  .friends {
    padding: 42px 0 42px;
  }
  .friends__title {
    margin: 0 auto 42px;
  }
  .friends__items-inner {
    width: 270px;
  }
  .friends__items-arrow {
    top: 507px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .friends__items-arrow--left {
    left: 59px;
  }
  .friends__items-arrow--right {
    right: 59px;
  }
  .friends__items-slider {
    left: -270px;
  }
  .friends__items-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 270px;
    width: 100%;
  }
  .friends__content-item:first-child {
    margin-left: 0px;
  }
  .friends__btn-link {
    margin: 115px auto 0;
  }
  .help {
    padding: 40px 0 42px;
  }
  .help__title {
    max-width: 261px;
    margin-bottom: 40px;
  }
  .help__content {
    -ms-grid-columns: 130px 130px;
        grid-template-columns: 130px 130px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  .help__content-img {
    margin-bottom: 13px;
    padding-bottom: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 50px;
    height: 50px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .help__content-name {
    font-family: "Georgia", serif;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .donations {
    padding: 42px 10px 42px;
    text-align: center;
  }
  .donations__title {
    max-width: 220px;
    margin: 0 auto 26px;
    text-align: center;
  }
  .donations__info {
    max-width: 300px;
    min-width: 0px;
  }
  .donations__info-name {
    max-width: 302px;
    text-align: center;
    margin: 0 auto 20px;
    letter-spacing: 0;
  }
  .donations__info-text {
    max-width: 300px;
    margin: 0 auto;
    text-align: justify;
  }
  .donations__card-link {
    margin: 0 auto 20px;
    min-width: 281px;
  }
  .donations__card-number {
    font-size: 15px;
  }
  .donations__img {
    max-width: 260px;
    margin: -15px auto 0px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer__inner {
    min-height: 780px;
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-position: center bottom;
    margin: 0 auto 0;
    background-size: 260px 269px;
  }
  .footer__item {
    width: 300px;
    margin-bottom: 40px;
  }
  .footer__item-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__item-link--flexstart {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__item-title {
    max-width: 232px;
    text-align: center;
    margin: 0px auto 40px;
  }
  .footer__item:first-child {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 300px;
  }
  .footer__item:last-child {
    margin-left: auto;
    margin-right: auto;
  }
  .modal__window {
    width: 240px;
    height: 380px;
  }
  .modal__window-close-btn {
    top: -52px;
    right: -30px;
  }
  .modal__img {
    display: none;
  }
  .modal__content {
    width: 260px;
    margin: 10px;
  }
  .modal__content-subtitle {
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 20px;
  }
  @-webkit-keyframes move-left {
    from {
      left: -270px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes move-left {
    from {
      left: -270px;
    }
    to {
      left: 0px;
    }
  }
  @-webkit-keyframes move-right {
    from {
      left: -270px;
    }
    to {
      left: -540px;
    }
  }
  @keyframes move-right {
    from {
      left: -270px;
    }
    to {
      left: -540px;
    }
  }
  .move_left {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .move_right {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
}
/*# sourceMappingURL=style.css.map */