@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 900;
  background-color: #FFFFFF;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.header__logo {
  max-width: 186px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
}

.header__logo-repeat {
  display: none;
}

.header__logo-link {
  display: block;
  text-decoration: none;
  color: #292929;
}

.header__logo span {
  display: block;
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  color: #545454;
}

.burger__btn {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu__list-item + .menu__list-item {
  padding-left: 35px;
}

.menu__list-link {
  text-decoration: none;
  line-height: 160%;
  color: #545454;
  -webkit-transition: all .1s;
  transition: all .1s;
  padding-bottom: 5px;
}

.menu__list-link--underline {
  border-bottom: 3px solid #F1CDB3;
  color: #292929;
}

.menu__list-link:hover {
  color: #292929;
}

.friends {
  background-color: #F6F6F6;
  padding: 80px 0 100px;
}

.friends__title {
  text-align: center;
  max-width: 400px;
  margin: 0 auto 45px;
}

.friends__items-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 270px 270px 270px;
      grid-template-columns: 270px 270px 270px 270px;
  justify-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  padding-bottom: 15px;
  margin: 0 auto 45px;
}

.friends__content-item {
  padding-bottom: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
  max-width: 270px;
}

.friends__content-item:hover {
  background-color: #FFFFFF;
}

.friends__content-item:hover .friends__item-link {
  background-color: #FDDCC4;
}

.friends__item-img {
  margin-bottom: 30px;
}

.friends__item-name {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 30px;
}

.friends__item-link {
  display: block;
  font-family: "Georgia", serif;
  margin-top: 30px;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  max-width: 193px;
  margin: 30px auto 0;
}

.friends__item-link:hover {
  background-color: #FDDCC4;
}

.friends__buttons {
  max-width: 340px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin: 0 auto;
}

.friends__btn {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: white;
  cursor: pointer;
}

.friends__btn:hover {
  background-color: #FDDCC4;
}

.friends__btn--disabled {
  color: #CDCDCD;
  border-color: #CDCDCD;
}

.friends__btn--disabled:hover {
  background-color: white;
  cursor: auto;
}

.friends__btn--active {
  background-color: #F1CDB3;
  cursor: auto;
}

.friends__btn--active:hover {
  background-color: #F1CDB3;
}

.footer {
  padding-top: 40px;
  background-image: url("../../assets/images/footer-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url("../../assets/images/footer-puppy.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.footer__item {
  margin-bottom: 60px;
}

.footer__item-title {
  color: #FFFFFF;
  margin: 16px 0 40px;
}

.footer__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer__item-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-left: 20px;
}

.footer__item:first-child {
  width: 279px;
  margin-right: 160px;
}

.footer__item:nth-child(2) {
  width: 302px;
}

.footer__item:last-child {
  padding-bottom: 0;
}

.modal__overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.modal__overlay--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__window {
  cursor: auto;
  width: 900px;
  height: 500px;
  background-color: #FAFAFA;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.modal__window-close-btn {
  content: '';
  background-image: url("../../assets/images/cross.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -52px;
  right: -52px;
  width: 52px;
  height: 52px;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
}

.modal__window-close-btn:hover {
  background-color: #F1CDB3;
}

.modal__window-close-btn-color {
  background-color: transparent;
}

.modal__window--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.modal__img {
  width: 500px;
  height: 500px;
  display: block;
}

.modal__img img {
  width: 100%;
  height: 100%;
}

.modal__content {
  width: 350px;
  margin: 50px 19px 88px 29px;
  font-family: 'Georgia';
  color: #000000;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
}

.modal__content-title {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  margin-bottom: 10px;
}

.modal__content-subtitle {
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 40px;
}

.modal__content-descr {
  font-size: 15px;
  line-height: 110%;
  margin-bottom: 40px;
}

.modal__content-list {
  list-style-type: none;
  padding-left: 10px;
}

.modal__content-list-item {
  font-size: 15px;
  line-height: 110%;
  position: relative;
  margin-bottom: 11px;
}

.modal__content-list-item::before {
  content: " ";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #F1CDB3;
  border-radius: 50%;
  left: -10px;
  top: 40%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.modal__content-list-item span {
  font-weight: 700;
}

.margin40 {
  margin-bottom: 40px;
}

.margin32 {
  margin-bottom: 32px;
}

.noscroll {
  overflow: hidden;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
  .header__logo-repeat {
    display: none;
  }
  .friends {
    padding: 80px 0 75px;
  }
  .friends__title {
    margin: 0 auto 30px;
  }
  .friends__item-img {
    margin-bottom: 23px;
  }
  .friends__item-name {
    margin-bottom: 30px;
  }
  .friends__item-link {
    padding: 13px 43px;
  }
  .friends__items-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 270px 270px;
        grid-template-columns: 270px 270px;
    width: 580px;
    padding-bottom: 0px;
    margin: 0 auto 40px;
  }
  .friends__content-item:nth-child(n+7) {
    display: none;
  }
  .friends__buttons {
    max-width: 357px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer__inner {
    min-height: 608px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-position: center bottom;
    margin: 0 34px;
  }
  .footer__item-title {
    margin-top: 0;
  }
  .footer__item:first-child {
    width: 280px;
    margin-right: 0;
  }
  .footer__item:last-child {
    padding-bottom: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .modal__window {
    width: 630px;
    height: 350px;
  }
  .modal__img {
    width: 350px;
    height: 350px;
  }
  .modal__content {
    width: 260px;
    margin: 10px 9px 37px 11px;
  }
  .modal__content-subtitle {
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 20px;
  }
  .modal__content-descr {
    font-size: 13px;
    line-height: 110%;
    margin-bottom: 20px;
  }
  .modal__content-list-item {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
  .title {
    font-size: 25px;
  }
  .burger__btn {
    z-index: 5;
    margin-right: 43px;
    cursor: pointer;
    display: block;
    margin-bottom: -10px;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
  }
  .burger__btn--active {
    -webkit-transform: rotate(90deg) translate(-4px, 5px);
            transform: rotate(90deg) translate(-4px, 5px);
  }
  .burger__btn-line {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #000000;
  }
  .header__logo-repeat {
    display: block;
    position: absolute;
    top: 30px;
    left: 10px;
  }
  .header__logo-origin {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .header__logo-origin--active {
    opacity: 0;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(41, 41, 41, 0.6);
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
  }
  .menu--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  .menu-wrapper {
    background-color: #f7f0eb;
    right: -500px;
    width: 320px;
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    -webkit-transition: right ease 1s;
    transition: right ease 1s;
  }
  .menu-wrapper--active {
    right: 0px;
  }
  .menu__list {
    width: 320px;
    height: 327px;
    margin-top: 110px;
    background-color: #f7f0eb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    right: 0px;
    text-align: center;
    -webkit-transition: right ease 1s;
    transition: right ease 1s;
  }
  .menu__list--active {
    right: 0px;
  }
  .menu__list-item {
    font-size: 32px;
    margin-bottom: 41px;
  }
  .menu__list-item + .menu__list-item {
    padding-left: 0px;
  }
  .friends {
    padding: 42px 0 42px;
  }
  .friends__title {
    margin: 0 auto 42px;
  }
  .friends__item-img {
    margin-bottom: 23px;
  }
  .friends__item-name {
    margin-bottom: 30px;
  }
  .friends__item-link {
    padding: 13px 43px;
  }
  .friends__items-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 270px;
        grid-template-columns: 270px;
    width: 270px;
    padding-bottom: 0px;
    margin: 0 auto 40px;
  }
  .friends__content-item:nth-child(n+4) {
    display: none;
  }
  .footer {
    padding-top: 30px;
  }
  .footer__inner {
    min-height: 780px;
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-position: center bottom;
    margin: 0 auto 0;
    background-size: 260px 269px;
  }
  .footer__item {
    width: 300px;
    margin-bottom: 40px;
  }
  .footer__item-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__item-link--flexstart {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__item-title {
    max-width: 232px;
    text-align: center;
    margin: 0px auto 40px;
  }
  .footer__item:first-child {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 300px;
  }
  .footer__item:last-child {
    margin-left: auto;
    margin-right: auto;
  }
  .modal__window {
    width: 240px;
    height: 380px;
  }
  .modal__window-close-btn {
    top: -52px;
    right: -30px;
  }
  .modal__img {
    display: none;
  }
  .modal__content {
    width: 260px;
    margin: 10px;
  }
  .modal__content-subtitle {
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */