@import "vars";
.header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;
    background-color: #FFFFFF;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }
    &__logo {
        max-width: 186px;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-align: center;
        &-repeat {
            display: none;
        }
        &-link {
            display: block;
            text-decoration: none;
            color: #292929;
        }
    }
    &__logo span {
        display: block;
        font-family: $font-title;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        margin-bottom: 10px;
        color: #545454;
    }
}

.burger__btn {
    display: none;
}

.menu {
    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        &-item+&-item {
            padding-left: 35px;
        }
        &-link {
            text-decoration: none;
            line-height: 160%;
            color: #545454;
            transition: all .1s;
            padding-bottom: 5px;
            &--underline {
                border-bottom: 3px solid #F1CDB3;
                color: #292929;
            }
        }
        &-link:hover {
            color: #292929;
        }
    }
}

.friends {
    background-color: #F6F6F6;
    padding: 80px 0 100px;
    &__title {
        text-align: center;
        max-width: 400px;
        margin: 0 auto 45px;
    }
    &__items {
        &-inner {
            display: grid;
            grid-template-columns: 270px 270px 270px 270px;
            justify-items: center;
            grid-column-gap: 40px;
            grid-row-gap: 30px;
            padding-bottom: 15px;
            margin: 0 auto 45px;
        }
    }
    &__content-item {
        padding-bottom: 30px;
        background-color: #FAFAFA;
        border-radius: 9px;
        cursor: pointer;
        max-width: 270px;
    }
    &__content-item:hover {
        background-color: #FFFFFF;
    }
    &__content-item:hover .friends__item-link {
        background-color: #FDDCC4;
    }
    &__item-img {
        margin-bottom: 30px;
    }
    &__item-name {
        font-family: $font-title;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
        text-align: center;
        margin-bottom: 30px;
    }
    &__item-link {
        display: block;
        font-family: $font-title;
        margin-top: 30px;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        padding: 15px 45px;
        border-radius: 100px;
        border: 2px solid #F1CDB3;
        text-decoration: none;
        text-align: center;
        transition: all .3s;
        max-width: 193px;
        margin: 30px auto 0;
        &:hover {
            background-color: #FDDCC4;
        }
    }
    &__buttons {
        max-width: 340px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        margin: 0 auto;
    }
    &__btn {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #292929;
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        background-color: white;
        cursor: pointer;
        &:hover {
            background-color: #FDDCC4;
        }
        &--disabled {
            color: #CDCDCD;
            border-color: #CDCDCD;
        }
        &--disabled:hover {
            background-color: white;
            cursor: auto;
        }
        &--active {
            background-color: #F1CDB3;
            cursor: auto;
            &:hover {
                background-color: #F1CDB3;
            }
        }
    }
}

.footer {
    padding-top: 40px;
    background-image: url('../../assets/images/footer-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner {
        display: flex;
        justify-content: flex-start;
        background-image: url('../../assets/images/footer-puppy.png');
        background-position: right bottom;
        background-repeat: no-repeat;
    }
    &__item {
        margin-bottom: 60px;
        &-title {
            color: #FFFFFF;
            margin: 16px 0 40px;
        }
        &-link {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        &-text {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            letter-spacing: 0.06em;
            color: #F1CDB3;
            margin-left: 20px;
        }
        &:first-child {
            width: 279px;
            margin-right: 160px;
        }
        &:nth-child(2) {
            width: 302px;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}

.modal__overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    &--active {
        display: flex;
    }
}

.modal__window {
    cursor: auto;
    width: 900px;
    height: 500px;
    background-color: #FAFAFA;
    display: none;
    justify-content: flex-start;
    position: relative;
    transition: all 2s;
    transform: translateY(-200%);
    &-close-btn {
        content: '';
        background-image: url('../../assets/images/cross.png');
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -52px;
        right: -52px;
        width: 52px;
        height: 52px;
        background-color: #F1CDB3;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        cursor: pointer;
        &:hover {
            background-color: #F1CDB3;
        }
        &-color {
            background-color: transparent;
        }
    }
    &--active {
        display: flex;
        transform: translateY(0%);
    }
}

.modal__img {
    width: 500px;
    height: 500px;
    display: block;
    & img {
        width: 100%;
        height: 100%;
    }
}

.modal__content {
    width: 350px;
    margin: 50px 19px 88px 29px;
    font-family: 'Georgia';
    color: #000000;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 400;
    &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        margin-bottom: 10px;
    }
    &-subtitle {
        font-size: 20px;
        line-height: 115%;
        margin-bottom: 40px;
    }
    &-descr {
        font-size: 15px;
        line-height: 110%;
        margin-bottom: 40px;
    }
    &-list {
        list-style-type: none;
        padding-left: 10px;
        &-item {
            font-size: 15px;
            line-height: 110%;
            position: relative;
            margin-bottom: 11px;
            &::before {
                content: " ";
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: #F1CDB3;
                border-radius: 50%;
                left: -10px;
                top: 40%;
                transform: translate(-50%, 0);
            }
            & span {
                font-weight: 700;
            }
        }
    }
}

.margin40 {
    margin-bottom: 40px;
}

.margin32 {
    margin-bottom: 32px;
}

.noscroll {
    overflow: hidden;
}

@import 'media1280';
@import 'media768';